<h4>Editing ToDoList</h4>

<%#= render 'form' %>

<%= nested_form_for @list, :html=>{role: "form"} do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name">Name:</label>
    <%= f.text_field :name, autofocus: true, :class=>"form-control", :id=>"listname" %>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <%= f.text_area :description, autofocus: true, :class=>"form-control", :id=>"listdescription" %>
  </div>

  <%= f.fields_for :tasks do |builder| %>
  <div class="form-group">
    <label for="tname">Task Name:</label>
    <%= builder.text_field :task_name, :class=>"form-control", :id=>"tname" %>
    <%= builder.link_to_remove "Remove this task" %>
  </div>
  <% end %>
  <p><%= f.link_to_add "Add a task", :tasks %></p>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>

<br><br>

<%= link_to 'Back', lists_path, class: "btn btn-primary" %>
