<br>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |l| %>
      <tr>
        <td><%= l.name %></td>
        <td><%= l.description %></td>
        <td><%= link_to 'View Tasks Status', l, class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Create New List', new_list_path, :class=>"btn btn-success" %>
<br><br>
<h4>Listing Users</h4>
<%= form_tag lists_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
  </p>
<% end %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Remark</th>
      <th>Follow / Unfollow</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
    <% if current_user != u %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.last_name %></td>
        <% if u.following?(current_user) %>
          <td><%= u.first_name %> <%= u.last_name %> is folowing you.</td>
        <% elsif current_user.following?(u) %>
          <td>You are following <%= u.first_name %> <%= u.last_name %>.</td>
        <% else %>
          <td>N/A</td>
        <% end %>
        <% if current_user.following?(u) %>
          <td><%= link_to "Unfollow", {:controller => "lists", :action => "unfollow", :id=>u.id}, :class=> "btn btn-warning" %></td>
        <% else %>
          <td><%= link_to "Follow", {:controller => "lists", :action => "follow", :id=>u.id}, :class=> "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h4>Listing ToDoLists</h4>

<table class="table table-hover table-bordered">
<% @followers.each do |f| %>
  <thead>
  <tr><th  colspan = "3"><%= f.first_name %> <%= f.last_name %></th></tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% f.lists.each do |l| %>
      <tr>
        <td><%= l.name %></td>
        <td><%= l.description %></td>
        <td><%= link_to 'Add Tasks', edit_list_path(l), class: "btn btn-success" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


<table class="table table-hover table-bordered">
<% @following.each do |f| %>
  <thead>
  <tr><th  colspan = "3"><%= f.first_name %> <%= f.last_name %></th></tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% f.lists.each do |l| %>
      <tr>
        <td><%= l.name %></td>
        <td><%= l.description %></td>
        <td><%= link_to 'Add Tasks', edit_list_path(l), class: "btn btn-success" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


