<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <% if task.done %>
        <td>Completed</td>
        <% else %>
        <td>Pending</td>
        <% end %> 
        <% if task.list.user_id == current_user.id %>
        <td><%= link_to "Mark as Done", task, :method => :patch, :class => "btn btn-success" %></td>
        <% else %>
        <td>N/A</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%#= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Back', lists_path, class: "btn btn-primary" %>
