<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%#= link_to('Login', new_user_session_path)  %>  
  <button type="button" class="btn btn-success navbar-btn btn-circle" data-toggle="modal" data-target="#exampleModal">Sign in</button>
  </li>
<% end %>
