<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", method: :put }) do |f| %>
  <%= devise_error_messages! %>

 <div class="form-group">
 <label for="email">Email:</label>
 <%#= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class=>"form-control", :id=>"email" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
  <%#= f.label :password %> 
  <label for="password">Password:</label><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"password" %></div>

  <div class="form-group">
  <%#= f.label :password_confirmation %><br />
  <label for="password_confirmation">Password Confirmation:</label>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :id=>"password_confirmation" %></div>

  <div class="form-group">
  <%#= f.label :current_password %> 
  <label for="current_password">Current Password:</label><i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control", :id=>"current_password" %></div>

  <div><%= f.submit "Update", class: "btn btn-success" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %></p>

<%= link_to "Back", :back %>
