<%= form_for @task, :html=>{role: "form"} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <!-- <%#= f.label :task_name %><br> -->
    <label for="email">Task Name:</label>
    <%= f.text_field :task_name, autofocus: true, :class=>"form-control", :id=>"taskname" %>
  </div>
  <!-- <div class="actions"> -->
    <%= f.submit class: "btn btn-success" %>
  <!-- </div> -->
<% end %>



