<br><br>
<h4>Listing Pending Tasks</h4>

<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%# @pending_tasks.each do |task| %>
      <tr>
        <td><%#= task.task_name %></td>
        <td>Pending</td> 
        <td><%#= link_to "Mark as Done", task, :method => :patch, :class => "btn btn-success" %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
<br> -->
<%= link_to 'Add New Task', new_task_path, :class => "btn btn-primary" %>
<br><br>



<!-- <h4>Listing Completed Tasks</h4>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%# @done_tasks.each do |t| %>
      <tr>
        <td><%#= t.task_name %></td>
        <td>Done</td>
        <td><%#= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
<br>
<br>

<h4>Follow known peoples:</h4>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Follow / Unfollow</th>
    </tr>
  </thead>

  <tbody>
    <%# @users.each do |u| %>
      <%# if current_user != u %>
        <tr>
          <td><%#= u.first_name %></td>
          <td><%#= u.last_name %></td>
          <td><%#= u.email %></td>
          <%# if current_user.following?(u) %>
          <td><%#= link_to "Unfollow", {:controller => "tasks", :action => "unfollow", :id=>u.id}, :class=> "btn btn-warning" %></td>
          <%# else %>
          <td><%#= link_to "Follow", {:controller => "tasks", :action => "follow", :id=>u.id}, :class=> "btn btn-success" %></td>
          <%# end %>
        </tr>
      <%# end %>
    <%# end %>
  </tbody>
</table>
<br>
<br>

<h4>View tasks of people you follow and are being followed by:</h4>

<table class="table table-bordered table-hover">
<%# @followers.each do |f| %>
  <thead>
  <tr><strong><th colspan = "2"><%#= f.first_name %> <%#= f.last_name %> - Follower</th></strong></tr>
    <tr>
      <th>Task Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    
      
      <%# f.tasks.each do |t| %>
        <tr>
          <td><%#= t.task_name %></td>
          <%# if t.done %>
            <td>Completed</td>
          <%# else %>
            <td>Pending</td>
          <%# end %>
        </tr>
      <%# end %>
    <%# end %>
  </tbody>
</table>

<table class="table table-bordered table-hover">
<%# @following.each do |f| %>
  <thead>
  <tr><strong><th colspan = "2"><%#= f.first_name %> <%#= f.last_name %> - Followee</th></strong></tr>
    <tr>
      <th>Task Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    
      
      <%# f.tasks.each do |t| %>
        <tr>
          <td><%#= t.task_name %></td>
          <%# if t.done %>
            <td>Completed</td>
          <%# else %>
            <td>Pending</td>
          <%# end %>
        </tr>
      <%# end %>
    <%# end %>
  </tbody>
</table> -->