<div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h1 class="page-header">Create your own To Do List.</h1>
            <p class="lead">Sign up here and Go!.</p>
            <div class="panel panel-default well">
                <div class="panel-body">
                	

                	<!-- <form role="form" class="well"> -->
                	<%= form_for(:user, :html=>{role: "form"}, :url => registration_path(:user)) do |f| %>

                          <div class="form-group">
                            <label for="fname">First Name:</label>
                            <%= f.text_field :first_name, autofocus: true, :class=>"form-control", :id=>"fname" %>
                          </div>
                          <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <%= f.text_field :last_name, :class=>"form-control", :id=>"lname" %>
                          </div>
						  <div class="form-group">
						    <label for="email">Email address:</label>
						    <%= f.email_field :email, autofocus: true, :class=>"form-control", :id=>"email" %>
						  </div>
						  <div class="form-group">
						    <label for="pwd">Password:</label>
						    <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"pwd" %>
						  </div>

						  <div class="form-group">
						    <label for="pwd">Password confirmation:</label>
						    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :id=>"pwdconf" %>
						  </div>

						  <%= f.submit "Sign up", :class=>"btn btn-success" %> 
						<% end %>
					<!-- </form> -->
                </div>
            </div>
          </div>              
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
        <div class="phone">
            <img class="img-responsive img-rounded" src="http://placemi.com/djlnr/263x480">
        </div>
</div>