<!DOCTYPE html>
<html>
<head>
  <title>ToDoListApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <!-- <a class="navbar-brand" href="#">ToDoListApp </a> -->
	          <%= link_to "ToDoListApp", lists_path, :class=>"navbar-brand" %>
	        </div>
	        <div class="collapse navbar-collapse" id="navigation">
	            <ul class="nav navbar-nav navbar-right">
  					<%= render 'devise/menu/registration_items' %>
  					<%= render 'devise/menu/login_items' %>
	            </ul>
	        </div>
	      </div>
	    </nav>
	    <header class="header">
	        <div class="container">
	        <br>
	        	<% if user_signed_in? %>
	        	<h2>Welcome <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h2> 
	        	<% end %>
		        <div id="flash">
		        	<% if notice %>
					  <p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
					  <p class="alert alert-danger"><%= alert %></p>
					<% end %>
		        </div> 		
	          	<%= yield %>
	        </div>
	    </header>
	    <footer class="footer text-center">
	        <div class="container">
	            <small>© Copyright 2015. Crafted with love by Harsha</small>
	        </div>
	    </footer>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">

      	<%= form_for(:user, :html=>{role: "form"}, :url => session_path(:user)) do |f| %>
			  <div class="form-group">
			    <label for="email">Email:</label>
			    <%= f.email_field :email, autofocus: true, :class=>"form-control", :id=>"email" %>
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password:</label>
			    <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"pwd" %>
			  </div>
			  <%= f.submit "Sign in", :class=>"btn btn-success" %>
		<% end %>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>



<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 2000);
 })
</script>

<style>
ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}
</style>